@font-face {
    font-family: "Athene";
    src: url(../font/Athene.otf);
}
  
 
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
header{
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    color: #002a5a;
    border-bottom:1px solid #002a5a;
}
nav{
    position: relative;
}
nav h2{
    font-size: 16px;
    font-weight: 300;
}
nav h2:first-of-type{
    position: absolute;
    left: 10%;
    top: 5px;
}
nav h2:last-of-type{
    position: absolute;
    right: 10%;
    top: 5px;
}
section#hero{
    color: #002a5a;
    background:#efe8e7;
    padding-bottom: 200px;
}
#hero h1{
    font-family: "Athene";
    font-size: 10em;
    text-align: center;
    margin: 0; 
}
#hero h1:first-of-type{
    padding-top: 150px;
}
#hero span{
    display: inline-block;
    height: 1px;
    width: 100px;
    background: #002a5a;
    margin-bottom: 60px;
}
.border{
    height: 0.4px;
    width: 90%;
    margin: 0 auto;
    background: #002a5a;
}
.img-container{
    margin-top: 40px;
    text-align: center;
}
section#release{
    color: #282b29;
    background:#f4c4c4;
    padding: 200px 0;
}
table{
    width: 600px;
    margin-left: auto;
    margin-right: 100px;
}
th,td{
    border-bottom: 1px solid #282b29;
}
th{
    text-align: right;
    padding:30px 0;
}
td{
    padding:30px 0;
}
tr td:last-of-type{
    width: 140px;
    font-weight: 300;
    font-size: 12px;
}
tr td:first-of-type{
    font-size: 12px;
    font-weight: 300;
}
.img-work{
    text-align: right;
    margin-right: 100px;
    margin-top: 100px;
}
.img-work img{
    height: 150px;
    width: 150px;
}
section#works{
    color: #7d2222;
    background:#DEB873;
    padding: 200px 7%;
}
#works article:nth-of-type(1){
    margin-bottom: 100px;
    background: url(../img/bg-marconatto-1.jpg) right/contain no-repeat;
}
#works h2{
    font-family: "Athene";
    font-size: 4em;
    margin: 0;
    font-weight: 300;
    text-align: left;
    padding-bottom: 200px;
}
#works h2 span{
    display: block;
}
#works article:nth-of-type(2){
    margin-bottom: 100px;
    background: url(../img/kathe_cover-1.jpg) left/contain no-repeat;
}
#works article:nth-of-type(2) h2{
    text-align: right;
}